.profile__edit-image {
  position: absolute;
  background-image: url(../../../images/editProfile.svg);
  max-height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  
  opacity: 0;
  transition: linear 0.3s;
}

.profile__edit-image:hover{
  opacity: 1;
}