.profile__edit-btn {
  height: 24px;
  /* padding: 16px 18px 0px; */
  padding-left: 16px;
  background: #000;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .profile__edit-btn {
    height: 18px;
  }
}