.popup__close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 3;
  cursor: pointer;
  align-self: flex-end;
  margin-top: -36px;
  margin-right: -36px;
}

@media screen and (max-width: 580px) {
  .popup__close-btn{
 margin-right: 0;
 margin-top: -60px;
  }
}