.popup__close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  z-index: 3;
  top: -32px;
  right: -32px;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .popup__close-btn{
 right: 0;
 top: -60px;
  }
}