.popup__field {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
  min-height: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.popup__field:last-of-type{
  margin-bottom: 0px;
}

